__pycache__/


# python3.9 -m venv venv && source venv/bin/activate && pip install -r requirements.txt
# python3.9 -m venv venv; .\venv\Scripts\activate; pip install --upgrade pip; pip install tensorflow==2.12.0; pip install -r requirements.txt
# 